<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1 style = "color: #003073; font-size: 17px; margin: 0 0 7px 0;">Подписка на сайте <a href="http://hijab-fard.ru">http://hijab-fard.ru</a></h1>
    <p>Поздравляем Вас с оформлением подписки на сайте http://hijab-fard.ru</p>
</body>
</html>
