<div id="news_blocks">
  <%= image_tag(news_show.avatar.url(:thumb), :class => "leftimg") %>
  <p style="color: #999; margin-bottom: 4px;"><%= news_show.created_at.strftime("%d.%m.%Y") %></p>
  <p><b><%= news_show.title %></b>
    <%= news_show.short_description %></p>
</div>
