<%= form_for(@page, :url => page_path(:id => @page.title), :html => { :method => :put }) do |f| %>
<p><%= f.cktext_area :description, :toolbar=>'Full', :width=>'740px', :height=>'400px' %>
<p style="margin-top: 10px;"><%= f.submit "Сохранить" %></p>
<% end %>