<div id="product_list">
  <% title "Продукты" %>
  <h2><%= yield(:title) %></h2>
  <% if admin_signed_in? %>
    <%= link_to 'Новый продукт', new_product_path, :style => "color: #663366; font-family: 'Myriad Pro',Verdana,Geneva,sans-serif; font-size: 14px; text-decoration: underline;" %>
    <div style="height: 50px; width: 200px; position: relative;">
    <% end %>
  </div>
  <%= render @products %>
</div>