<div id="footer">
	<p style="font-size: 12px; margin-bottom: 10px;">Copyright © 2010 Мусульманская одежда HIJAB FARD</p>
    <img style="position: relative; float: right; top: -10px;" <%= image_tag "img/ftr_tel.png" %>
</div>
